<?xml version="1.0" encoding="utf-8"?>
<config>
	   <version>0x0</version>
	   <!--checksum>sha256/none/sha256_rsa2048</checksum-->
	   <checksum>sha256_rsa2048</checksum>
	   <tlv name="bin_type"  attribute="4">
		<!--value name="value" type="integer"  value_len="4">0:full_bin_data,1:diff_data</value-->
		<value name="value" type="integer"  value_len="4">0</value>	
	   </tlv>
	   <!-- tlv name="user defined name" attribute="greater or equal than 100,should be a different id">
		<value name="user defined name" type="string/integer"  value_len="less or equal than 8, only used for integer type">value</value>
	   </tlv-->
	   <!-- tlv name="software_info"  attribute="100">		
		<value name="software_version" type="string">LiteOSV1R2C510SPC00</value>
		<value name="software_type" type="integer"  value_len="2">0xffee</value>
	   </tlv>
	   <tlv name="test_vaule"  attribute="101">
		<value name="test_vaule" type="integer" attribute="102" value_len="1">100</value>
		<value name="test_vaule" type="integer" attribute="103" value_len="1">156</value>
		<value name="test_vaule" type="integer" attribute="104" value_len="4">0x12345678</value>  
	   </tlv-->	      
</config>